*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: cursive;
  line-height: 2;
}
#main{
  background: linear-gradient(burlywood,brown);
  /* background-color: rgb(229, 173, 105); */
  height: 135rem;
}



#card{
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  width: 65vw;
  /* height: 40vh; */
  background-color: rgb(5, 25, 55);
  color: white;
  border-radius: 50px;
  padding: 2rem;
  justify-content: space-between;
}
h1{
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#card #image{
  width: 18vw;
  height: 38vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

#card #image img{
  width: 100%;
  height: 100%;
  /* padding: 0rem 2rem; */
  border-radius: 50%;
}

#card #content{
  width: 40vw;
  /* margin-left: 4rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
